<?xml version='1.1' encoding='UTF-8'?>
<user>
  <version>10</version>
  <id>tetron</id>
  <fullName>Peter Amstutz</fullName>
  <properties>
    <jenkins.security.ApiTokenProperty>
      <tokenStore>
        <tokenList/>
      </tokenStore>
    </jenkins.security.ApiTokenProperty>
    <com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty plugin="credentials@2.1.18">
      <domainCredentialsMap class="hudson.util.CopyOnWriteMap$Hash"/>
    </com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty>
    <hudson.model.MyViewsProperty>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>All</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <hudson.model.PaneStatusProperties>
      <collapsed/>
    </hudson.model.PaneStatusProperties>
    <hudson.search.UserSearchProperty>
      <insensitiveSearch>false</insensitiveSearch>
    </hudson.search.UserSearchProperty>
    <hudson.tasks.Mailer_-UserProperty plugin="mailer@1.23">
      <emailAddress>tetron@interreality.org</emailAddress>
    </hudson.tasks.Mailer_-UserProperty>
    <org.jenkinsci.plugins.displayurlapi.user.PreferredProviderUserProperty plugin="display-url-api@2.3.0">
      <providerId>default</providerId>
    </org.jenkinsci.plugins.displayurlapi.user.PreferredProviderUserProperty>
    <io.jenkins.blueocean.autofavorite.user.FavoritingUserProperty plugin="blueocean-autofavorite@1.2.3">
      <autofavoriteEnabled>true</autofavoriteEnabled>
    </io.jenkins.blueocean.autofavorite.user.FavoritingUserProperty>
    <hudson.plugins.favorite.user.FavoriteUserProperty plugin="favorite@2.3.2">
      <data class="concurrent-hash-map">
        <entry>
          <string>cwltool/PR-792</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>cwltool/pathmap-any</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>cwltool/add-size</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>cwltool/PR-800</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>cwltool/mem-efficiency</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>cwltool/PR-966</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>cwltool/PR-988</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>cwltool/PR-967</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>cwltool/PR-968</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>cwltool/less-deep-copy</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>cwltool/PR-1035</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>cwltool/workflowstep-hook</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>cwltool/PR-864</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>cwltool/bump-yaml</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>cwltool/PR-974</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>cwltool/PR-986</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>cwltool/PR-1047</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>cwltool/PR-1008</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>cwltool/PR-1019</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>cwltool/PR-805</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>cwltool/PR-949</string>
          <boolean>true</boolean>
        </entry>
      </data>
    </hudson.plugins.favorite.user.FavoriteUserProperty>
    <jenkins.security.seed.UserSeedProperty>
      <seed>90fc46c3c29fb794</seed>
    </jenkins.security.seed.UserSeedProperty>
    <org.jenkinsci.plugins.GithubAccessTokenProperty plugin="github-oauth@0.31">
      <accessToken>{AQAAABAAAAAwFwIb9TF+OZ0WQarUnskB1H3WRjyvXRZNavOkMKGWRfHD8aet+4SRD2/249w5Kw/FTSDk5M6AcbK1bVmkfAiaqg==}</accessToken>
    </org.jenkinsci.plugins.GithubAccessTokenProperty>
  </properties>
</user>