<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <com.sonyericsson.jenkins.plugins.bfa.model.ScannerJobProperty plugin="build-failure-analyzer@1.21.0">
      <doNotScan>false</doNotScan>
    </com.sonyericsson.jenkins.plugins.bfa.model.ScannerJobProperty>
    <com.coravy.hudson.plugins.github.GithubProjectProperty plugin="github@1.29.3">
      <projectUrl>https://github.com/MG-RAST/AWE/</projectUrl>
      <displayName></displayName>
    </com.coravy.hudson.plugins.github.GithubProjectProperty>
    <com.sonyericsson.rebuild.RebuildSettings plugin="rebuild@1.29">
      <autoRebuild>false</autoRebuild>
      <rebuildDisabled>false</rebuildDisabled>
    </com.sonyericsson.rebuild.RebuildSettings>
  </properties>
  <scm class="org.jenkinsci.plugins.multiplescms.MultiSCM" plugin="multiple-scms@0.6">
    <scms>
      <hudson.plugins.git.GitSCM plugin="git@3.9.1">
        <configVersion>2</configVersion>
        <userRemoteConfigs>
          <hudson.plugins.git.UserRemoteConfig>
            <url>https://github.com/MG-RAST/AWE.git</url>
          </hudson.plugins.git.UserRemoteConfig>
        </userRemoteConfigs>
        <branches>
          <hudson.plugins.git.BranchSpec>
            <name>*/develop</name>
          </hudson.plugins.git.BranchSpec>
        </branches>
        <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
        <submoduleCfg class="list"/>
        <extensions>
          <hudson.plugins.git.extensions.impl.RelativeTargetDirectory>
            <relativeTargetDir>AWE</relativeTargetDir>
          </hudson.plugins.git.extensions.impl.RelativeTargetDirectory>
        </extensions>
      </hudson.plugins.git.GitSCM>
      <hudson.plugins.git.GitSCM plugin="git@3.9.1">
        <configVersion>2</configVersion>
        <userRemoteConfigs>
          <hudson.plugins.git.UserRemoteConfig>
            <url>https://github.com/MG-RAST/Skyport2.git</url>
          </hudson.plugins.git.UserRemoteConfig>
        </userRemoteConfigs>
        <branches>
          <hudson.plugins.git.BranchSpec>
            <name>*/master</name>
          </hudson.plugins.git.BranchSpec>
        </branches>
        <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
        <submoduleCfg class="list"/>
        <extensions>
          <hudson.plugins.git.extensions.impl.RelativeTargetDirectory>
            <relativeTargetDir>Skyport2</relativeTargetDir>
          </hudson.plugins.git.extensions.impl.RelativeTargetDirectory>
          <hudson.plugins.git.extensions.impl.IgnoreNotifyCommit/>
        </extensions>
      </hudson.plugins.git.GitSCM>
      <hudson.plugins.git.GitSCM plugin="git@3.9.1">
        <configVersion>2</configVersion>
        <userRemoteConfigs>
          <hudson.plugins.git.UserRemoteConfig>
            <url>https://github.com/common-workflow-language/common-workflow-language.git</url>
          </hudson.plugins.git.UserRemoteConfig>
        </userRemoteConfigs>
        <branches>
          <hudson.plugins.git.BranchSpec>
            <name>*/master</name>
          </hudson.plugins.git.BranchSpec>
        </branches>
        <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
        <submoduleCfg class="list"/>
        <extensions>
          <hudson.plugins.git.extensions.impl.RelativeTargetDirectory>
            <relativeTargetDir>common-workflow-language</relativeTargetDir>
          </hudson.plugins.git.extensions.impl.RelativeTargetDirectory>
        </extensions>
      </hudson.plugins.git.GitSCM>
    </scms>
  </scm>
  <assignedNode>awe</assignedNode>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers>
    <com.cloudbees.jenkins.GitHubPushTrigger plugin="github@1.29.3">
      <spec></spec>
    </com.cloudbees.jenkins.GitHubPushTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>#!/bin/bash
set -x
echo $SHELL


# Debugging
pwd
ls -l
# docker images
docker ps

base_dir=`pwd`

cd $base_dir/Skyport2
rm -f docker-compose.yaml
ln -s Docker/Compose/skyport-awe-testing.yaml docker-compose.yaml

# Clean up
if [ -e ./skyport2.env ] ; then
  . ./skyport2.env
  docker-compose down
fi
docker rm -f $(docker ps -a -f name=skyport2_ -q)
docker rm -f $(docker ps -a -f name=compose_ -q)
docker rm -f mgrast_cwl_submitter


echo &quot;Deleting live-data&quot;

docker run --rm --volume `pwd`:/tmp/workspace bash rm -rf /tmp/workspace/live-data
# ls -l live-data
docker volume prune -f


set +x
echo &quot;clean-up done&quot;
set -x

docker ps

. ./init.sh
#. ./skyport2.env

# Build container
cd $base_dir/AWE
set +x
echo Building AWE Container
set -x

git branch -v
git remote -v
git describe

USE_CACHE=&quot;--no-cache&quot;
USE_CACHE=&quot;&quot; #speed-up for debugging purposes 

docker build ${USE_CACHE} -t mgrast/awe:test -f Dockerfile .
docker build ${USE_CACHE} -t mgrast/awe-worker:test -f Dockerfile_worker .
docker build ${USE_CACHE} -t mgrast/awe-submitter:test -f Dockerfile_submitter .
cd $base_dir/Skyport2
docker run --rm --volume `pwd`:/Skyport2 bash rm -rf /Skyport2/tmp
docker build ${USE_CACHE} -t mgrast/cwl-submitter:test -f Docker/Dockerfiles/cwl-test-submitter.dockerfile .

echo &quot;docker builds complete&quot;
sleep 5

# skyport2.env overwrites TAG - set back
# export TAG=latest
# docker-compose down
## TEST COMES HERE
# docker-compose -f Docker/Compose/skyport-awe-testing.yaml down

docker ps

sleep 1

docker-compose up -d
cd $base_dir
touch result.xml
docker run \
    --rm \
    --network skyport2_default \
    --name mgrast_cwl_submitter \
    --volume `pwd`/result.xml:/output/result.xml \
    mgrast/cwl-submitter:test \
    --junit-xml=/output/result.xml \
    --timeout=120


# Clean up
cd $base_dir/Skyport2
docker-compose down
docker run --rm --volume `pwd`/live-data:/live-data bash rm -rf /live-data/*
docker volume prune -f
</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <hudson.tasks.junit.JUnitResultArchiver plugin="junit@1.26.1">
      <testResults>result.xml</testResults>
      <keepLongStdio>false</keepLongStdio>
      <healthScaleFactor>1.0</healthScaleFactor>
      <allowEmptyResults>false</allowEmptyResults>
    </hudson.tasks.junit.JUnitResultArchiver>
    <hudson.tasks.Mailer plugin="mailer@1.22">
      <recipients>wilke@anl.gov, wgerlach@mcs.anl.gov</recipients>
      <dontNotifyEveryUnstableBuild>false</dontNotifyEveryUnstableBuild>
      <sendToIndividuals>false</sendToIndividuals>
    </hudson.tasks.Mailer>
  </publishers>
  <buildWrappers>
    <hudson.plugins.ansicolor.AnsiColorBuildWrapper plugin="ansicolor@0.6.0">
      <colorMapName>xterm</colorMapName>
    </hudson.plugins.ansicolor.AnsiColorBuildWrapper>
  </buildWrappers>
</project>