<?xml version='1.1' encoding='UTF-8'?>
<hudson>
  <disabledAdministrativeMonitors>
    <string>jenkins.security.s2m.MasterKillSwitchWarning</string>
  </disabledAdministrativeMonitors>
  <version>2.121.1</version>
  <installStateName>RESTART</installStateName>
  <numExecutors>1</numExecutors>
  <mode>NORMAL</mode>
  <useSecurity>true</useSecurity>
  <authorizationStrategy class="org.jenkinsci.plugins.GithubAuthorizationStrategy" plugin="github-oauth@0.29">
    <rootACL>
      <organizationNameList class="linked-list">
        <string>common-workflow-language</string>
      </organizationNameList>
      <adminUserNameList class="linked-list">
        <string>mr-c</string>
        <string>tetron</string>
        <string>boysha</string>
        <string>ntijanic</string>
        <string>simonovic86</string>
        <string>nielsdrost</string>
        <string>stain</string>
        <string>jmchilton</string>
      </adminUserNameList>
      <authenticatedUserReadPermission>true</authenticatedUserReadPermission>
      <useRepositoryPermissions>true</useRepositoryPermissions>
      <authenticatedUserCreateJobPermission>false</authenticatedUserCreateJobPermission>
      <allowGithubWebHookPermission>true</allowGithubWebHookPermission>
      <allowCcTrayPermission>false</allowCcTrayPermission>
      <allowAnonymousReadPermission>true</allowAnonymousReadPermission>
      <allowAnonymousJobStatusPermission>true</allowAnonymousJobStatusPermission>
    </rootACL>
  </authorizationStrategy>
  <securityRealm class="org.jenkinsci.plugins.GithubSecurityRealm">
    <githubWebUri>https://github.com</githubWebUri>
    <githubApiUri>https://api.github.com</githubApiUri>
    <clientID>7db5afd5d440fee1aed4</clientID>
    <clientSecret>{AQAAABAAAAAwAzcoRma2gpNZlAz9urcN11zML9dymVz6hR0A45b558Pgxv5ndvgVT/cggjoA9teShhWgHPds/c4TJBOAipIPRA==}</clientSecret>
    <oauthScopes>read:org,user:email</oauthScopes>
  </securityRealm>
  <disableRememberMe>false</disableRememberMe>
  <projectNamingStrategy class="jenkins.model.ProjectNamingStrategy$DefaultProjectNamingStrategy"/>
  <workspaceDir>${ITEM_ROOTDIR}/workspace</workspaceDir>
  <buildsDir>${ITEM_ROOTDIR}/builds</buildsDir>
  <markupFormatter class="hudson.markup.RawHtmlMarkupFormatter" plugin="antisamy-markup-formatter@1.5">
    <disableSyntaxHighlighting>false</disableSyntaxHighlighting>
  </markupFormatter>
  <jdks>
    <jdk>
      <name>java-8</name>
      <home></home>
      <properties>
        <hudson.tools.InstallSourceProperty>
          <installers>
            <hudson.tools.JDKInstaller plugin="jdk-tool@1.0">
              <id>jdk-8u121-oth-JPR</id>
              <acceptLicense>true</acceptLicense>
            </hudson.tools.JDKInstaller>
          </installers>
        </hudson.tools.InstallSourceProperty>
      </properties>
    </jdk>
  </jdks>
  <viewsTabBar class="hudson.views.DefaultViewsTabBar"/>
  <myViewsTabBar class="hudson.views.DefaultMyViewsTabBar"/>
  <clouds/>
  <quietPeriod>5</quietPeriod>
  <scmCheckoutRetryCount>0</scmCheckoutRetryCount>
  <views>
    <hudson.model.AllView>
      <owner class="hudson" reference="../../.."/>
      <name>All</name>
      <description>&lt;p&gt;Conformance testing for the &lt;a href=&quot;http://www.commonwl.org&quot;&gt;&lt;img src=&quot;https://raw.githubusercontent.com/common-workflow-language/logo/master/CWL-Logo-Header.png&quot; alt=&quot;Common Workflow Language&quot; /&gt;&lt;/a&gt; project&lt;/p&gt;&#xd;
&lt;p&gt;Hosting provided by Rackspace.&lt;/p&gt;</description>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
    </hudson.model.AllView>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>CWL conformance tests</name>
      <description>&lt;p&gt;Conformance testing for the &lt;a href=&quot;http://www.commonwl.org&quot;&gt;&lt;img src=&quot;https://raw.githubusercontent.com/common-workflow-language/logo/master/CWL-Logo-Header.png&quot; alt=&quot;Common Workflow Language&quot; /&gt;&lt;/a&gt; project&lt;/p&gt;&#xd;
&lt;p&gt;Hosting provided by Rackspace.&lt;/p&gt;</description>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
      <jobNames>
        <comparator class="hudson.util.CaseInsensitiveComparator"/>
        <string>airflow-conformance</string>
        <string>arvados-conformance</string>
        <string>cromwell</string>
        <string>cwlexec</string>
        <string>cwltool-conformance</string>
        <string>galaxy-planemo-conformance</string>
        <string>rabix-conformance</string>
        <string>toil-conformance</string>
        <string>xenon-cwl-runner-conformance</string>
        <string>yacle</string>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.views.BuildButtonColumn/>
      </columns>
      <recurse>false</recurse>
    </listView>
  </views>
  <primaryView>CWL conformance tests</primaryView>
  <slaveAgentPort>0</slaveAgentPort>
  <disabledAgentProtocols>
    <string>JNLP-connect</string>
    <string>JNLP2-connect</string>
  </disabledAgentProtocols>
  <label>linux</label>
  <crumbIssuer class="hudson.security.csrf.DefaultCrumbIssuer">
    <excludeClientIPFromCrumb>false</excludeClientIPFromCrumb>
  </crumbIssuer>
  <nodeProperties/>
  <globalNodeProperties>
    <hudson.slaves.EnvironmentVariablesNodeProperty>
      <envVars serialization="custom">
        <unserializable-parents/>
        <tree-map>
          <default>
            <comparator class="hudson.util.CaseInsensitiveComparator"/>
          </default>
          <int>1</int>
          <string>PIP_DOWNLOAD_CACHE</string>
          <string>/var/lib/jenkins/pypi-cache/</string>
        </tree-map>
      </envVars>
    </hudson.slaves.EnvironmentVariablesNodeProperty>
  </globalNodeProperties>
</hudson>