<?xml version='1.1' encoding='UTF-8'?>
<hudson>
  <disabledAdministrativeMonitors>
    <string>jenkins.security.s2m.MasterKillSwitchWarning</string>
    <string>GitHubHookRegisterProblemMonitor</string>
  </disabledAdministrativeMonitors>
  <version>2.138.2</version>
  <installStateName>RESTART</installStateName>
  <numExecutors>1</numExecutors>
  <mode>NORMAL</mode>
  <useSecurity>true</useSecurity>
  <authorizationStrategy class="hudson.security.GlobalMatrixAuthorizationStrategy">
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Create:common-workflow-language*Owners</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Create:geoffjentry</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Create:jmchilton</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Create:mr-c</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Delete:common-workflow-language*Owners</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Delete:geoffjentry</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Delete:jmchilton</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Delete:mr-c</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.ManageDomains:common-workflow-language*Owners</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.ManageDomains:geoffjentry</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.ManageDomains:jmchilton</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.ManageDomains:mr-c</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Update:common-workflow-language*Owners</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Update:geoffjentry</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Update:jmchilton</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Update:mr-c</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.View:common-workflow-language*Owners</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.View:geoffjentry</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.View:jmchilton</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.View:mr-c</permission>
    <permission>com.sonyericsson.jenkins.plugins.bfa.PluginImpl.RemoveCause:authenticated</permission>
    <permission>com.sonyericsson.jenkins.plugins.bfa.PluginImpl.RemoveCause:common-workflow-language*Owners</permission>
    <permission>com.sonyericsson.jenkins.plugins.bfa.PluginImpl.RemoveCause:geoffjentry</permission>
    <permission>com.sonyericsson.jenkins.plugins.bfa.PluginImpl.RemoveCause:jmchilton</permission>
    <permission>com.sonyericsson.jenkins.plugins.bfa.PluginImpl.RemoveCause:mr-c</permission>
    <permission>com.sonyericsson.jenkins.plugins.bfa.PluginImpl.UpdateCauses:authenticated</permission>
    <permission>com.sonyericsson.jenkins.plugins.bfa.PluginImpl.UpdateCauses:common-workflow-language*Owners</permission>
    <permission>com.sonyericsson.jenkins.plugins.bfa.PluginImpl.UpdateCauses:geoffjentry</permission>
    <permission>com.sonyericsson.jenkins.plugins.bfa.PluginImpl.UpdateCauses:jmchilton</permission>
    <permission>com.sonyericsson.jenkins.plugins.bfa.PluginImpl.UpdateCauses:mr-c</permission>
    <permission>com.sonyericsson.jenkins.plugins.bfa.PluginImpl.ViewCauses:anonymous</permission>
    <permission>com.sonyericsson.jenkins.plugins.bfa.PluginImpl.ViewCauses:authenticated</permission>
    <permission>com.sonyericsson.jenkins.plugins.bfa.PluginImpl.ViewCauses:common-workflow-language*Owners</permission>
    <permission>com.sonyericsson.jenkins.plugins.bfa.PluginImpl.ViewCauses:geoffjentry</permission>
    <permission>com.sonyericsson.jenkins.plugins.bfa.PluginImpl.ViewCauses:jmchilton</permission>
    <permission>com.sonyericsson.jenkins.plugins.bfa.PluginImpl.ViewCauses:mr-c</permission>
    <permission>hudson.model.Computer.Build:common-workflow-language*Owners</permission>
    <permission>hudson.model.Computer.Build:geoffjentry</permission>
    <permission>hudson.model.Computer.Build:jmchilton</permission>
    <permission>hudson.model.Computer.Build:mr-c</permission>
    <permission>hudson.model.Computer.Configure:common-workflow-language*Owners</permission>
    <permission>hudson.model.Computer.Configure:geoffjentry</permission>
    <permission>hudson.model.Computer.Configure:jmchilton</permission>
    <permission>hudson.model.Computer.Configure:mr-c</permission>
    <permission>hudson.model.Computer.Connect:common-workflow-language*Owners</permission>
    <permission>hudson.model.Computer.Connect:geoffjentry</permission>
    <permission>hudson.model.Computer.Connect:jmchilton</permission>
    <permission>hudson.model.Computer.Connect:mr-c</permission>
    <permission>hudson.model.Computer.Create:common-workflow-language*Owners</permission>
    <permission>hudson.model.Computer.Create:geoffjentry</permission>
    <permission>hudson.model.Computer.Create:jmchilton</permission>
    <permission>hudson.model.Computer.Create:mr-c</permission>
    <permission>hudson.model.Computer.Delete:common-workflow-language*Owners</permission>
    <permission>hudson.model.Computer.Delete:geoffjentry</permission>
    <permission>hudson.model.Computer.Delete:jmchilton</permission>
    <permission>hudson.model.Computer.Delete:mr-c</permission>
    <permission>hudson.model.Computer.Disconnect:common-workflow-language*Owners</permission>
    <permission>hudson.model.Computer.Disconnect:geoffjentry</permission>
    <permission>hudson.model.Computer.Disconnect:jmchilton</permission>
    <permission>hudson.model.Computer.Disconnect:mr-c</permission>
    <permission>hudson.model.Hudson.Administer:common-workflow-language*Owners</permission>
    <permission>hudson.model.Hudson.Administer:geoffjentry</permission>
    <permission>hudson.model.Hudson.Administer:jmchilton</permission>
    <permission>hudson.model.Hudson.Administer:mr-c</permission>
    <permission>hudson.model.Hudson.Read:anonymous</permission>
    <permission>hudson.model.Hudson.Read:authenticated</permission>
    <permission>hudson.model.Hudson.Read:common-workflow-language*Owners</permission>
    <permission>hudson.model.Hudson.Read:geoffjentry</permission>
    <permission>hudson.model.Hudson.Read:jmchilton</permission>
    <permission>hudson.model.Hudson.Read:mr-c</permission>
    <permission>hudson.model.Item.Build:authenticated</permission>
    <permission>hudson.model.Item.Build:common-workflow-language*Owners</permission>
    <permission>hudson.model.Item.Build:geoffjentry</permission>
    <permission>hudson.model.Item.Build:jmchilton</permission>
    <permission>hudson.model.Item.Build:mr-c</permission>
    <permission>hudson.model.Item.Cancel:authenticated</permission>
    <permission>hudson.model.Item.Cancel:common-workflow-language*Owners</permission>
    <permission>hudson.model.Item.Cancel:geoffjentry</permission>
    <permission>hudson.model.Item.Cancel:jmchilton</permission>
    <permission>hudson.model.Item.Cancel:mr-c</permission>
    <permission>hudson.model.Item.Configure:common-workflow-language*Owners</permission>
    <permission>hudson.model.Item.Configure:geoffjentry</permission>
    <permission>hudson.model.Item.Configure:jmchilton</permission>
    <permission>hudson.model.Item.Configure:mr-c</permission>
    <permission>hudson.model.Item.Create:common-workflow-language*Owners</permission>
    <permission>hudson.model.Item.Create:geoffjentry</permission>
    <permission>hudson.model.Item.Create:jmchilton</permission>
    <permission>hudson.model.Item.Create:mr-c</permission>
    <permission>hudson.model.Item.Delete:common-workflow-language*Owners</permission>
    <permission>hudson.model.Item.Delete:geoffjentry</permission>
    <permission>hudson.model.Item.Delete:jmchilton</permission>
    <permission>hudson.model.Item.Delete:mr-c</permission>
    <permission>hudson.model.Item.Discover:anonymous</permission>
    <permission>hudson.model.Item.Discover:authenticated</permission>
    <permission>hudson.model.Item.Discover:common-workflow-language*Owners</permission>
    <permission>hudson.model.Item.Discover:geoffjentry</permission>
    <permission>hudson.model.Item.Discover:jmchilton</permission>
    <permission>hudson.model.Item.Discover:mr-c</permission>
    <permission>hudson.model.Item.Move:common-workflow-language*Owners</permission>
    <permission>hudson.model.Item.Move:geoffjentry</permission>
    <permission>hudson.model.Item.Move:jmchilton</permission>
    <permission>hudson.model.Item.Move:mr-c</permission>
    <permission>hudson.model.Item.Read:anonymous</permission>
    <permission>hudson.model.Item.Read:authenticated</permission>
    <permission>hudson.model.Item.Read:common-workflow-language*Owners</permission>
    <permission>hudson.model.Item.Read:geoffjentry</permission>
    <permission>hudson.model.Item.Read:jmchilton</permission>
    <permission>hudson.model.Item.Read:mr-c</permission>
    <permission>hudson.model.Item.ViewStatus:anonymous</permission>
    <permission>hudson.model.Item.ViewStatus:authenticated</permission>
    <permission>hudson.model.Item.ViewStatus:common-workflow-language*Owners</permission>
    <permission>hudson.model.Item.ViewStatus:geoffjentry</permission>
    <permission>hudson.model.Item.ViewStatus:jmchilton</permission>
    <permission>hudson.model.Item.ViewStatus:mr-c</permission>
    <permission>hudson.model.Item.Workspace:authenticated</permission>
    <permission>hudson.model.Item.Workspace:common-workflow-language*Owners</permission>
    <permission>hudson.model.Item.Workspace:geoffjentry</permission>
    <permission>hudson.model.Item.Workspace:jmchilton</permission>
    <permission>hudson.model.Item.Workspace:mr-c</permission>
    <permission>hudson.model.Run.Delete:common-workflow-language*Owners</permission>
    <permission>hudson.model.Run.Delete:geoffjentry</permission>
    <permission>hudson.model.Run.Delete:jmchilton</permission>
    <permission>hudson.model.Run.Delete:mr-c</permission>
    <permission>hudson.model.Run.Replay:common-workflow-language*Owners</permission>
    <permission>hudson.model.Run.Replay:geoffjentry</permission>
    <permission>hudson.model.Run.Replay:jmchilton</permission>
    <permission>hudson.model.Run.Replay:mr-c</permission>
    <permission>hudson.model.Run.Update:common-workflow-language*Owners</permission>
    <permission>hudson.model.Run.Update:geoffjentry</permission>
    <permission>hudson.model.Run.Update:jmchilton</permission>
    <permission>hudson.model.Run.Update:mr-c</permission>
    <permission>hudson.model.View.Configure:authenticated</permission>
    <permission>hudson.model.View.Configure:common-workflow-language*Owners</permission>
    <permission>hudson.model.View.Configure:geoffjentry</permission>
    <permission>hudson.model.View.Configure:jmchilton</permission>
    <permission>hudson.model.View.Configure:mr-c</permission>
    <permission>hudson.model.View.Create:authenticated</permission>
    <permission>hudson.model.View.Create:common-workflow-language*Owners</permission>
    <permission>hudson.model.View.Create:geoffjentry</permission>
    <permission>hudson.model.View.Create:jmchilton</permission>
    <permission>hudson.model.View.Create:mr-c</permission>
    <permission>hudson.model.View.Delete:authenticated</permission>
    <permission>hudson.model.View.Delete:common-workflow-language*Owners</permission>
    <permission>hudson.model.View.Delete:geoffjentry</permission>
    <permission>hudson.model.View.Delete:jmchilton</permission>
    <permission>hudson.model.View.Delete:mr-c</permission>
    <permission>hudson.model.View.Read:anonymous</permission>
    <permission>hudson.model.View.Read:authenticated</permission>
    <permission>hudson.model.View.Read:common-workflow-language*Owners</permission>
    <permission>hudson.model.View.Read:geoffjentry</permission>
    <permission>hudson.model.View.Read:jmchilton</permission>
    <permission>hudson.model.View.Read:mr-c</permission>
    <permission>hudson.scm.SCM.Tag:common-workflow-language*Owners</permission>
    <permission>hudson.scm.SCM.Tag:geoffjentry</permission>
    <permission>hudson.scm.SCM.Tag:jmchilton</permission>
    <permission>hudson.scm.SCM.Tag:mr-c</permission>
    <permission>org.jenkins.plugins.lockableresources.LockableResourcesManager.Reserve:common-workflow-language*Owners</permission>
    <permission>org.jenkins.plugins.lockableresources.LockableResourcesManager.Reserve:geoffjentry</permission>
    <permission>org.jenkins.plugins.lockableresources.LockableResourcesManager.Reserve:jmchilton</permission>
    <permission>org.jenkins.plugins.lockableresources.LockableResourcesManager.Reserve:mr-c</permission>
    <permission>org.jenkins.plugins.lockableresources.LockableResourcesManager.Unlock:common-workflow-language*Owners</permission>
    <permission>org.jenkins.plugins.lockableresources.LockableResourcesManager.Unlock:geoffjentry</permission>
    <permission>org.jenkins.plugins.lockableresources.LockableResourcesManager.Unlock:jmchilton</permission>
    <permission>org.jenkins.plugins.lockableresources.LockableResourcesManager.Unlock:mr-c</permission>
  </authorizationStrategy>
  <securityRealm class="org.jenkinsci.plugins.GithubSecurityRealm">
    <githubWebUri>https://github.com</githubWebUri>
    <githubApiUri>https://api.github.com</githubApiUri>
    <clientID>7db5afd5d440fee1aed4</clientID>
    <clientSecret>{AQAAABAAAAAw7YvPCO8ecC1od8choy+l0muwLzAc2lLwxfIwXcD7xG/QbBLumscFEGo9l4FWYcWSxo+f7O5Oi3gB0YwbbIiB/Q==}</clientSecret>
    <oauthScopes>read:org,user:email</oauthScopes>
  </securityRealm>
  <disableRememberMe>false</disableRememberMe>
  <projectNamingStrategy class="jenkins.model.ProjectNamingStrategy$DefaultProjectNamingStrategy"/>
  <workspaceDir>${ITEM_ROOTDIR}/workspace</workspaceDir>
  <buildsDir>${ITEM_ROOTDIR}/builds</buildsDir>
  <markupFormatter class="hudson.markup.RawHtmlMarkupFormatter" plugin="antisamy-markup-formatter@1.5">
    <disableSyntaxHighlighting>false</disableSyntaxHighlighting>
  </markupFormatter>
  <jdks>
    <jdk>
      <name>java-8</name>
      <home></home>
      <properties>
        <hudson.tools.InstallSourceProperty>
          <installers>
            <hudson.tools.JDKInstaller plugin="jdk-tool@1.1">
              <id>jdk-8u121-oth-JPR</id>
              <acceptLicense>true</acceptLicense>
            </hudson.tools.JDKInstaller>
          </installers>
        </hudson.tools.InstallSourceProperty>
      </properties>
    </jdk>
  </jdks>
  <viewsTabBar class="hudson.views.DefaultViewsTabBar"/>
  <myViewsTabBar class="hudson.views.DefaultMyViewsTabBar"/>
  <clouds/>
  <quietPeriod>5</quietPeriod>
  <scmCheckoutRetryCount>0</scmCheckoutRetryCount>
  <views>
    <hudson.model.AllView>
      <owner class="hudson" reference="../../.."/>
      <name>All</name>
      <description>&lt;p&gt;Conformance testing for the &lt;a href=&quot;http://www.commonwl.org&quot;&gt;&lt;img src=&quot;https://raw.githubusercontent.com/common-workflow-language/logo/master/CWL-Logo-Header.png&quot; alt=&quot;Common Workflow Language&quot; /&gt;&lt;/a&gt; project&lt;/p&gt;&#xd;
&lt;p&gt;Hosting provided by Rackspace.&lt;/p&gt;</description>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
    </hudson.model.AllView>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>CWL conformance tests</name>
      <description>&lt;p&gt;Conformance testing for the &lt;a href=&quot;http://www.commonwl.org&quot;&gt;&lt;img src=&quot;https://raw.githubusercontent.com/common-workflow-language/logo/master/CWL-Logo-Header.png&quot; alt=&quot;Common Workflow Language&quot; /&gt;&lt;/a&gt; project&lt;/p&gt;&#xd;
&lt;p&gt;Hosting provided by Rackspace.&lt;/p&gt;</description>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
      <jobNames>
        <comparator class="hudson.util.CaseInsensitiveComparator"/>
        <string>airflow-conformance</string>
        <string>arvados-conformance</string>
        <string>AWE</string>
        <string>cromwell</string>
        <string>cwlexec</string>
        <string>cwltool-conformance</string>
        <string>galaxy-planemo-conformance</string>
        <string>rabix-conformance</string>
        <string>toil-conformance</string>
        <string>xenon-cwl-runner-conformance</string>
        <string>yacle</string>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.views.BuildButtonColumn/>
      </columns>
      <recurse>false</recurse>
    </listView>
  </views>
  <primaryView>CWL conformance tests</primaryView>
  <slaveAgentPort>0</slaveAgentPort>
  <label>linux</label>
  <crumbIssuer class="hudson.security.csrf.DefaultCrumbIssuer">
    <excludeClientIPFromCrumb>false</excludeClientIPFromCrumb>
  </crumbIssuer>
  <nodeProperties/>
  <globalNodeProperties>
    <hudson.slaves.EnvironmentVariablesNodeProperty>
      <envVars serialization="custom">
        <unserializable-parents/>
        <tree-map>
          <default>
            <comparator class="hudson.util.CaseInsensitiveComparator"/>
          </default>
          <int>1</int>
          <string>PIP_DOWNLOAD_CACHE</string>
          <string>/var/lib/jenkins/pypi-cache/</string>
        </tree-map>
      </envVars>
    </hudson.slaves.EnvironmentVariablesNodeProperty>
  </globalNodeProperties>
</hudson>