<?xml version='1.1' encoding='UTF-8'?>
<user>
  <fullName>Pau Ruiz Safont</fullName>
  <properties>
    <jenkins.security.ApiTokenProperty>
      <tokenStore>
        <tokenList/>
      </tokenStore>
    </jenkins.security.ApiTokenProperty>
    <com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty plugin="credentials@2.1.18">
      <domainCredentialsMap class="hudson.util.CopyOnWriteMap$Hash"/>
    </com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty>
    <hudson.model.MyViewsProperty>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>All</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <hudson.model.PaneStatusProperties>
      <collapsed/>
    </hudson.model.PaneStatusProperties>
    <hudson.search.UserSearchProperty>
      <insensitiveSearch>false</insensitiveSearch>
    </hudson.search.UserSearchProperty>
    <hudson.tasks.Mailer_-UserProperty plugin="mailer@1.22">
      <emailAddress>psafont@ebi.ac.uk</emailAddress>
    </hudson.tasks.Mailer_-UserProperty>
    <io.jenkins.blueocean.autofavorite.user.FavoritingUserProperty plugin="blueocean-autofavorite@1.2.2">
      <autofavoriteEnabled>true</autofavoriteEnabled>
    </io.jenkins.blueocean.autofavorite.user.FavoritingUserProperty>
    <hudson.plugins.favorite.user.FavoriteUserProperty plugin="favorite@2.3.2">
      <data class="concurrent-hash-map">
        <entry>
          <string>cwltool/PR-850</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>cwltool/PR-926</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>cwltool/PR-895</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>cwltool/PR-961</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>cwltool/PR-887</string>
          <boolean>true</boolean>
        </entry>
      </data>
    </hudson.plugins.favorite.user.FavoriteUserProperty>
    <org.jenkinsci.plugins.displayurlapi.user.PreferredProviderUserProperty plugin="display-url-api@2.2.0">
      <providerId>default</providerId>
    </org.jenkinsci.plugins.displayurlapi.user.PreferredProviderUserProperty>
    <org.jenkinsci.plugins.GithubAccessTokenProperty plugin="github-oauth@0.29">
      <accessToken>{AQAAABAAAAAwXKGLL9d/zwFMH0g58Ztgra1Nzn2E9nb6YBapWhOW6XexVk/UAv5xJLm5SC71c0VteIwCNA/JGR3XLdlM0ouaKw==}</accessToken>
    </org.jenkinsci.plugins.GithubAccessTokenProperty>
  </properties>
</user>