<?xml version='1.1' encoding='UTF-8'?>
<user>
  <version>10</version>
  <id>stain</id>
  <fullName>Stian Soiland-Reyes</fullName>
  <properties>
    <jenkins.security.ApiTokenProperty>
      <tokenStore>
        <tokenList/>
      </tokenStore>
    </jenkins.security.ApiTokenProperty>
    <com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty plugin="credentials@2.3.0">
      <domainCredentialsMap class="hudson.util.CopyOnWriteMap$Hash"/>
    </com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty>
    <hudson.model.MyViewsProperty>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>All</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <hudson.model.PaneStatusProperties>
      <collapsed/>
    </hudson.model.PaneStatusProperties>
    <hudson.search.UserSearchProperty>
      <insensitiveSearch>false</insensitiveSearch>
    </hudson.search.UserSearchProperty>
    <hudson.tasks.Mailer_-UserProperty plugin="mailer@1.29">
      <emailAddress>stain@apache.org</emailAddress>
    </hudson.tasks.Mailer_-UserProperty>
    <org.jenkinsci.plugins.displayurlapi.user.PreferredProviderUserProperty plugin="display-url-api@2.3.2">
      <providerId>default</providerId>
    </org.jenkinsci.plugins.displayurlapi.user.PreferredProviderUserProperty>
    <io.jenkins.blueocean.autofavorite.user.FavoritingUserProperty plugin="blueocean-autofavorite@1.2.4">
      <autofavoriteEnabled>true</autofavoriteEnabled>
    </io.jenkins.blueocean.autofavorite.user.FavoritingUserProperty>
    <hudson.plugins.favorite.user.FavoriteUserProperty plugin="favorite@2.3.2">
      <data class="concurrent-hash-map">
        <entry>
          <string>cwltool/nested-tests</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>cwltool/PR-862</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>cwltool/PR-820</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>cwltool/PR-810</string>
          <boolean>true</boolean>
        </entry>
      </data>
    </hudson.plugins.favorite.user.FavoriteUserProperty>
    <jenkins.security.seed.UserSeedProperty>
      <seed>b5656c2d20d0b591</seed>
    </jenkins.security.seed.UserSeedProperty>
    <org.jenkinsci.plugins.GithubAccessTokenProperty plugin="github-oauth@0.33">
      <accessToken>{AQAAABAAAAAwsM2t41f1lg5Pa9FOQB8eaojWY3IQzMl0hEB3mJbbPckJFC/bUxmgCN/B30Uqk4JY+crJoXGRLecGzZZ3EGioGw==}</accessToken>
    </org.jenkinsci.plugins.GithubAccessTokenProperty>
  </properties>
</user>